In [1]:
import sqlite3 # 导入sqlite3库

### 创建数据库和table

In [2]:
#  连接到一个数据库名为 data_base_name 的数据库,如果存在则直接连接,如果不存在则创建
data_base=sqlite3.connect('data_base_name')
# 设置数据库光标,你之后所有对数据库进行的操作都是通过光标来执行的
cursor=data_base.cursor()
# 创建一个表名为 table_name 的数据库表,如果这个表不存在的话
# 后面括号里面的内容为这个表的属性,属性与属性之间用  ,  隔开,属性名与属性类型之间用 空格  隔开,如果不写类型的话,默认       为text类型
cursor.execute('create table if not exists table_name(name text,age int,info text)')
# 数据库的提交,对数据进行增删改后都需要进行数据库的提交
data_base.commit()

### 增加数据

In [3]:
cursor.execute('insert into table_name (name,age,info) VALUES ("python",29,"最接近人工智能的计算机语言")')
data_base.commit()

In [4]:
cursor.execute('select * from table_name')
result=cursor.fetchall()
print(result)

[('python', 29, '最接近人工智能的计算机语言'), ('python', 29, '最接近人工智能的计算机语言')]

### 修改数据

In [5]:
cursor.execute('update table_name set name="C++",age=33 WHERE name="python"')
cursor.execute('update table_name set name="C++",age=33 WHERE age=29')
data_base.commit()

In [6]:
cursor.execute('select * from table_name')
result=cursor.fetchall()
print(result)

[('C++', 33, '最接近人工智能的计算机语言'), ('C++', 33, '最接近人工智能的计算机语言')]

### 删除数据

In [7]:
cursor.execute('DELETE FROM table_name WHERE name="C++"')
data_base.commit()

In [8]:
cursor.execute('select * from table_name')
result=cursor.fetchall()
print(result)

[]

### 查询结果

In [9]:
cursor.execute('insert into table_name (name,age,info) VALUES ("python",29,"最接近人工智能的计算机语言")')
data_base.commit()

In [10]:
cursor.execute('select * from table_name')
result=cursor.fetchall()
print(result)

[('python', 29, '最接近人工智能的计算机语言')]